
/* #week 3 or 4 for skip to main
#look at other hw file
find all 9 pictures */

/* 3 pics on 1st, 3 pics on the second page, 3pics on the 3rd page  */
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

.skip a:focus{
    position: absolute;
    top: 0px;
}

*:focus{
    border-width: 6px;
    border-style: solid;
    border-color: #dce4ef;
}

html{
    scroll-behavior: smooth;
}

header{
    align-self: center;
}
  
footer {
    margin: 50px;
    padding: 5px;
    text-align: left;
    background-image: linear-gradient(90deg, #740000 0%, #c63535 15%, #fc4848 70%, #fe8585 100%);
    border: 2px #ffff solid;
}

body{
    /* background-image: linear-gradient(#fad980, #f7cbcb); */
    background-image: url("../images/background.jpg");
    color: whitesmoke;
    font-size: 18px;
    margin: 1%;
    padding: 1%;
    font-size: 100%;
    line-height: 1.15;
}
  

.overview{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    height: 160px;                /* Parallax effect */
}
  

img{
    width: 85%;
    height: 75%;
}

h1{
    font-size: 50px;
    line-height: 1;
    padding: 25px 0;
    text-align: center;
}

#main.home-container{
    align-items: center;
}

.home-container{ 
    margin: 40px;
    padding: 10px;
    padding-left: 30px;
    width: 120%;
    align-items: center;
}

h2{
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

.home-image img{
    width: 50%;
    border: 5px solid #ffffff;
    align-items: center;
}

.north-container{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
}

/* .south-container{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    grid-gap: 2px;
} */

.south-container{
    display: flex;
    flex-flow: row;
    background-color: #8cc09d;
}

.south-image{
    background-color: white;
    width: 33%;
    height: 100%;
    margin: 50px;
    padding: 20px;
    margin: auto;
    text-align: center;
    line-height: normal;
    font-size: 25px;
}

.new-south-container{
    display: flex;
    flex-flow: row;
    background-color: #8cc09d;
}

.last-south-container{
    display: flex;
    flex-flow: row;
    background-color: #8cc09d;
}

/* .south-container img{
    border: 5px solid #8cc09d;
} */

/* .animals-container{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    grid-gap: 2px;
} */

.contact-container{
    display: grid;
    grid-template-columns: 10fr;
    grid-gap: 2px;
}

nav ul {
    list-style: none;
}

nav {
    background-color: #ffbdbd;
    /* border: 4px solid rgb(255, 145, 145); */
    border: 4px solid white;
    padding: 25px 0;
    text-align: left;
    font-size: 20px;
    margin: auto; 
}

ul{
    display: grid;
    line-height: 1.25;
    text-align: center;
}

nav li{
    display: inline;
    padding-right: 40px;
}

.new_grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

.flip-image {
    color: #112e51;
    text-align: center;
    width: 80%;
    height: 350px;
    margin: auto;
    border: 5px solid #cbe1ff;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

.flip-card-front img{
    width: 100%;
    height: 100%;
    align-self: center;
}

.flip-iamge:hover .flip-card-inner, .flip-image:active .flip-card-inner, .flip-image:focus .flip-card-inner {
  transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.flip-card-back {
    background-color: #e7f4e4;
    color: #112e51;
    transform: rotateY(180deg);
    text-align: center;
  }

  /* Position the image container (needed to position the left and right arrows) */
.animals-container {
    position: relative;
  }
  
  /* Hide the images by default */
.mySlides {
    display: none;
    align-items: center;
    width: 60%;
}
  
  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Six columns side by side */
.column {
    float: left;
    width: 15%;
}
  
  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}

@media screen and (min-width: 500px){
    ul{
        display: list-item;
    }

    .home-image img{
        width: 50%;
    }
}

@media screen and (min-width: 700px){
    .mySlides {
        width: 60%;
    }

    /* Next & previous buttons */
    .prev,
    .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
    .next {
    right: 550px;
    border-radius: 3px 0 0 3px;
    }
    /* Container for image text */
    .caption-container {
        width: 57.75%;
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

     /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }



}

